<div class="container">
  <div class="header-content">
    <h1>All Cocktails</h1>
    <p>Number of cocktails: <%= @cocktails.count %></p>
  </div>
  <div class="listing-content">
    <% @cocktails.each do |cocktail| %>
    <div class="item">
       <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
    <% end %>
    </ul>
  </div>
</div>
